*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(38, 39, 66);
    padding-top: 50px;
}
.course{
    margin: 10px 1%;
    background-color: white;
    width:auto;
    border-radius: 10px;
}
.sort{
    margin: 10px 1%;
    background-color: white;
    border-radius: 10px;
}
.roll{
    border-top-left-radius: 10px;
    height: 50px;
    width: 50px;
    background-color: white;
    border: none;
    font-size: 11pt; 
    font-weight: 900;
}
.content{
    background-color: rgb(197, 196, 196);
    width:auto;
    overflow-x: auto;
}

td{
    border: solid black 1px;
}
.display-flex{
    display: flex;
}
.offices{
    width: 50px;
    height: 40px;
}
td{
    height: 20px;
}
.parameters .para td{
    height: 20px;
}
.parameters td{
    height: 48px;
}
.days_professor{
    width: 430px;
    display: none;
}
.days_professor span{
    margin-bottom: 10px;
}
.office_stule{
    width: 40px;
    display: flex;
    justify-content: space-between;
}
.profesor_stule{
    width: 70px;
    display: flex;
    justify-content: space-between;
}
.offical_stule{
    width: 70px;
    display: flex;
    justify-content: space-between;
}
.carts_professor_sort{
    border: solid black 0.5px;
    user-select: none;
}
.carts_office_sort{
    border: solid black 0.5px;
    user-select: none;
}
.cart_office_days_sort {
    display: none;
    width: 430px;
}
table {
    border-collapse: collapse; 
}
header{
    position: fixed;
    top: 0;
    left: 1.4%;
    background-color: #1b1335;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width:97.2%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
header *{
    margin: 0 10px;
}
.roll_office {
    min-width: 65px;
}
#sorting_ready{
    width: 150px;
}
.sort_button_roll{
    display: flex;
    justify-content: space-between;
}