body{
    background-color: #13111a;
    padding-top: 50px;
}
.course{
    margin: 10px 1%;
    background-color: white;
    width:auto;
}
.sort{
    margin: 10px 1%;
    background-color: white;

}
.roll{
    height: 50px;
    width: 50px;
    background-color: white;
    border: none;
    font-size: 11pt; 
    font-weight: 900;
}
.content{
    background-color: #aec2c3;
    width:auto;
    overflow-x: auto;
}

td{
    border: solid black 1px;
}
.display-flex{
    display: flex;
}
.carts_professor_sort{
    border: solid black 0.5px;
}
.offices{
    width: 50px;
    height: 40px;
}
td{
    height: 20px;
}
.parameters .para td{
    height: 20px;
}
.parameters td{
    height: 48px;
}
.days_professor{
    width: 430px;
}
.days_professor span{
    margin-bottom: 10px;
}
.office_stule{
    width: 40px;
    display: flex;
    justify-content: space-between;
}
.profesor_stule{
    width: 70px;
    display: flex;
    justify-content: space-between;
}
.offical_stule{
    width: 70px;
    display: flex;
    justify-content: space-between;
}
.carts_office_sort{
    border: solid black 0.5px;

}
.cart_office_days_sort {
    display: flex;
    width: 430px;


}
table {
    border-collapse: collapse; 
}
header{
    position: fixed;
    top: 0;
    left: 1.3%;
    background-color: #211c2f;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width:97%;
    padding-left: 10px;
}
header input{
    margin: 10px;
}